<!doctype html>
<html lang="en" class="no-js">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href='https://fonts.googleapis.com/css?family=Droid+Serif|Open+Sans:400,700' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="css/reset.css"> <!-- CSS reset -->
  <link rel="stylesheet" href="css/style.css"> <!-- Resource style -->
  <link rel="stylesheet" href="css/demo.css"> <!-- Resource style -->
  <title>Sophia Events</title>
</head>
<body>
  <header>
    <div class="cd-nugget-info">
      <h1></h1>
      <h1>Les rencontres techniques de Sophia et des alentours</h1>
      <a href="./past.html">Voir les rencontres passées</a>
      <br/>
      <a href="https://gitlab.com/lucj/sophia.events/issues/new" target="_blank">Proposer un évènement (nécessite un compte sur Gitlab.com)</a>
    </div> <!-- cd-nugget-info -->
  </header>

  <section class="cd-timeline js-cd-timeline">
    <div class="cd-timeline__container">

      {{#events}}

      <div class="cd-timeline__block js-cd-block">
        <div class="ts {{{ ts }}}">
        </div>

        <div class="cd-timeline__img cd-timeline__img--location js-cd-img">
          <img src="img/cd-icon-location.svg">
        </div> <!-- cd-timeline__img -->

        <div class="cd-timeline__content js-cd-content">
          <h2>{{{ title }}}</h2>
	  <p>{{{ desc }}}</p>
          {{#link}}
            <a target="_blank" href="{{{ link }}}" class="cd-timeline__read-more">Détails</a>
          {{/link}}
	  <span class="cd-timeline__date">
            {{{ date }}}
          </span>
          {{#pict}}
	    <span class="cd-timeline__date">
              <img class="logo" src="./img/{{ pict }}" />
            </span>
          {{/pict}}
	  <span class="cd-timeline__date">
          {{#sponsors}}
              <img class="logo" src="./img/{{name}}.png" />
          {{/sponsors}}
          </span>
        </div> <!-- cd-timeline__content -->
      </div> <!-- cd-timeline__block -->

      {{/events}}

    </div>
  </section> <!-- cd-timeline -->
	
  <script src="js/main.js"></script> <!-- Resource JavaScript -->
</body>
</html>
